body {
  margin: 0;
  color: #222;
  background-color: #f4f4f4;
}
section {
  width: 800px;
}
.tab-inner {
  margin-top: 20px;
}
.btn {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.btn li {
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  border-right: 1px solid #ddd;
  border-top: 2px solid transparent;
  padding: 5px;
}
.btn li:hover,
.btn li.active {
  background-color: #fff;
  border-top: 2px solid crimson;
}
.btn li:last-child {
  width: 170px;
  border-right: none;
}
.tabs {}
.tabs div {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: none;
}
.tabs div.active {
  display: block;
}

/* Tab Content */
.tabs div h2 {
  text-align: center;
}

.tabs div img {
  float: left;
  margin-right: 10px;
}

.tabs div p {
  overflow: hidden;
}

/* Heading */
.heading {}
.heading h1 {
  font-size: 24px;
  text-align: center;
}
.heading h1 span {
  color: crimson;
}
.heading input[type=text] {
  outline: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ddd;
  background: #fff url(images/search-icon.png) no-repeat center left 5px;
  background-size: 23px;
  padding-left: 35px;
}
.heading input[type=text]::placeholder {
  font-style: italic;
  transition: 0.3s;
}
.heading input[type=text]:focus::placeholder {
  opacity: 0;
}