a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: 0.5s;
}

.card:nth-child(1) .content {
  background: linear-gradient(to top, crimson, transparent);
}

.card:nth-child(2) .content {
  background: linear-gradient(to top, dodgerblue, transparent);
}

.card:nth-child(3) .content {
  background: linear-gradient(to top, yellowgreen, transparent);
}

.content {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(to top, crimson, transparent);
  color: #fff;
  padding-top: 150px;
  transition: 0.5s;
  text-align: center;
}
.content h2 span {
  display: block;
  font-size: 15px;
  color: gold;
  margin-top: 10px;
}
.sns a {
  color: #fff;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.card:hover .content {
  top: 0;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.219);
}